/* Mobile */
/* Badge */
.headerBasket {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #b70000;
  color: #fff;
  border-radius: 50%;
  padding: 10px 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  min-width: 11px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #d6eac0;
  width: 100%;
}
.headerLogo {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
  transform-origin: center;
}

.headerLogo:hover,
.headerLogo:focus {
  transform: scale(1.05);
}
.headerContainer {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBasket {
  background-color: #000000;
}
.headerBasket:hover,
.headerBasket:focus {
  background-color: #9db484;
}

.headerNavigationList {
  display: none;
}

.headerBtn {
  display: flex;
  gap: 16px;
}

.headerIconBtn {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerBtn {
  background-color: #0000000d;
}
.burgerBtn:hover,
.burgerBtn:focus {
  background-color: #9db484;
}

.burgerBtn:active {
  background-color: #3b4331;
  color: #ffffff;
}

.burgerBtn:disabled {
  background-color: #f9fcf6;
}

.authNavigationHeader {
  display: none;
}

.headerBasketIcon {
  fill: white;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .headerContainer {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .burgerBtn {
    display: none;
  }
  .headerNavigation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .headerNavigationList {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .headerBasket {
    margin-left: 16px;
  }

  .headerLink {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
    display: inline-block;
    transition:
      transform 0.2s ease,
      color 0.2s ease;
    transform-origin: center;
  }

  .headerLink:hover,
  .headerLink:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
    transform: scale(1.05);
  }

  .headerLink:active {
    color: #9db484;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .headerNavigation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .headerNavigationList {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
