/* Mobile */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 48px 20px;
}

.header > .container {
  max-width: 768;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  background-color: #d6eac0;
  justify-content: space-between;
  align-items: center;  
}

.headerBasket {
  width: 36px;
  height: 36px;
  opacity: 1;
  padding: 6px;
  border-radius: 100px;
  background-color: #000000;
}
.headerBasket:hover,
.headerBasket:focus {
  background-color: #9db484;
}

.headerBasket:active {
  background-color: #3b4331;
  color: #ffffff;
}

.headerBasket:disabled {
  background-color: #f9fcf6;
}
.headerNavigationList {
  display: none;
}

.headerBtn {
  display: flex;
  gap: 16px;
}

.burgerBtn {
  width: 36px;
  height: 36px;
  opacity: 1;
  padding: 6px;
  border-radius: 100px;
  background-color: #0000000d;
}
.burgerBtn:hover,
.burgerBtn:focus {
  background-color: #9db484;
}

.burgerBtn:active {
  background-color: #3b4331;
  color: #ffffff;
}

.burgerBtn:disabled {
  background-color: #f9fcf6;
}

.authNavigationHeader {
  display: none;
}

.headerBasketIcon {
  fill: white;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    padding: 48px 32px;
    max-width: 768px;
  }

  .header > .container {
    max-width: 1440px;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .burgerBtn {
    display: none;
  }
  .headerNavigation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .headerNavigationList {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .headerBasket {
    margin-left: 16px;
  }

  .headerLogo {
    margin-left: auto;
  }

  .headerLink {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
  }

  .headerLink:hover,
  .headerLink:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #9db484;
  }

  .headerLink:active {
    color: #9db484;
  }

  .headerLink:disabled {
    color: #000000;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 80px 64px;
  }

  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .headerNavigation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .headerNavigationList {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
