.itemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.priceColumn {
  margin-left: auto;
}

.statusColumn {
  display: none;
}

/* ========== TABLET (min-width: 768px) ========== */

@media (min-width: 768px) {
  .itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .priceColumn {
    margin-left: 0;
  }

  .statusColumn {
    display: block;
  }
}
