/* HEADER */

.authNavigationHeader {
  display: none;
}

@media screen and (min-width: 768px) {
  .authNavigationHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .authNavigationLinkHeader {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
  }

  .authNavigationLinkHeaderReg {
    background-color: #c5e1a5;
    border-radius: 100px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authNavigationLinkHeaderReg:hover,
  .authNavigationLinkHeaderReg:focus {
    background-color: #9db484;
    color: #4e5a42;
    border: 1px solid #4e5a42;
  }

  .authNavigationLinkHeaderReg:active {
    background-color: #3b4331;
    color: #ffffff;
    border: 1px solid #c5e1a5;
  }

  .authNavigationItemHeader {
    background-color: #0000000d;
    border-radius: 100px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authNavigationItemHeader:hover,
  .authNavigationItemHeader:focus {
    background-color: #9db484;
    color: #4e5a42;
    border: 1px solid #4e5a42;
  }

  .authNavigationItemHeader:active {
    background-color: #3b4331;
    color: #ffffff;
    border: 1px solid #c5e1a5;
  }
}

/* MobileMenu */

.containerClass {
  display: flex;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.signInClass {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  align-items: center;
  color: #000000;
  background-color: #0000000d;
  height: 36px;
  width: 100%;
  opacity: 1;
  border-radius: 100px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInClass:hover,
.signInClass:focus {
  background-color: #9db484;
  color: #000000;
  border: 1px solid #4e5a42;
}

.signInClass:active {
  background-color: #3b4331;
  color: #ffffff;
  border: 1px solid #c5e1a5;
}

.registrationClass {
  background-color: #c5e1a5;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  align-items: center;
  color: #000000;
  height: 36px;
  width: 100%;
  opacity: 1;
  border-radius: 100px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.registrationClass:hover,
.registrationClass:focus {
  background-color: #9db484;
  color: #000000;
  border: 1px solid #4e5a42;
}
.registrationClass:active {
  background-color: #3b4331;
  color: #ffffff;
  border: 1px solid #c5e1a5;
}

@media screen and (min-width: 768px) {
  .authNavigationMobile {
    display: none;
  }
}
