/* HEDER */

.authNavigationHeader {
  display: none;
}

@media screen and (min-width: 768px) {
  .authNavigationHeader {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .authNavigationLinkHeader {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000000;
  }

  .authNavigationLinkHeaderReg {
    background-color: #c5e1a5;
    opacity: 1;
    border-radius: 100px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authNavigationLinkHeaderReg:hover,
  .authNavigationLinkHeaderReg:focus {
    background-color: #9db484;
  }

  .authNavigationLinkHeaderReg:active {
    background-color: #3b4331;
    color: #ffffff;
  }

  .authNavigationLinkHeaderReg:disabled {
    background-color: #f9fcf6;
  }
  .authNavigationItemHeader {
    background-color: #0000000d;
    opacity: 1;
    border-radius: 100px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authNavigationItemHeader:hover,
  .authNavigationItemHeader:focus {
    background-color: #9db484;
  }

  .authNavigationItemHeader:active {
    background-color: #3b4331;
    color: #ffffff;
  }

  .authNavigationItemHeader:disabled {
    background-color: #f9fcf6;
  }
}

/* MobileMenu */

.containerClass {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0 0 0;
  padding: 0;
  list-style: none;
}

.signInClass {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  align-items: center;
  color: #000000;
}

.signInClass {
  background-color: #0000000d;
  width: 335;
  height: 36;
  opacity: 1;

  border-radius: 100px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInClass:hover,
.signInClass:focus {
  background-color: #9db484;
}

.signInClass:active {
  background-color: #3b4331;
  color: #ffffff;
}

.registrationClass {
  background-color: #c5e1a5;
  color: #000000;
  width: 335;
  height: 36;
  opacity: 1;
  gap: 8px;
  border-radius: 100px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.registrationClass:hover,
.registrationClass:focus {
  background-color: #9db484;
}
.registrationClass:active {
  background-color: #3b4331;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .authNavigationMobile {
    display: none;
  }
}
