.section {
    padding-top: 40px;
    padding-bottom: 64px;
}

.containerWrapper {
    padding: 0 px;
  }

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1439px) {
    .section {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        padding-top: 112px;
        padding-bottom: 112px;
    }
}
