/* ========== MOBILE FIRST (320–767) ========== */

.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #6c6c6c;
}
.breadcrumbCurrent {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}
.breadcrumbSeparator {
  color: #000;
}
.breadcrumbLink {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  /* color: #6c6c6c; */
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumbLink:hover,
.breadcrumbLink:focus {
  color: #000;
}

/* PRODUCT */

.good {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imageWrapper {
  width: 100%;
  height: 360px;
  border-radius: 16px;
  background: #f5f5f5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

/* price + rating */

.priceBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #000;
}

.divider {
  color: #999;
}

.ratingInline {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  font-size: 16px;
  color: #000;
}

.ratingValue,
.reviewsCount {
  font-size: 14px;
  color: #000;
}

/* short description */

.descriptionSection {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.prevDescription {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
/* sizes */

.sizeBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 12px;
}
.sizeTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.sizeSelect {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

/* cart row */

.cartRow {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 255px;
  height: 36px;
  background-color: #c5e1a5;
}

.buyButton:hover,
.buyButton:focus {
  background-color: #9db484;
}

.buyButton:active {
  background-color: #3b4331;
  transform: scale(0.98);
}

.buyButton:disabled {
  background-color: #c5e1a5;
  opacity: 0.4;
}

.quantityInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 64px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

/* buy now */

.buyNowButton {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.buyNowButton:hover,
.buyNowButton:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.buyNowButton:active {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}

.buyNowButton:disabled {
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.4;
}

/* delivery */

.deliveryText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-top: 2px;
}

/* long description + characteristics */

.longDescriptionSection {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.charTitleDes {
  margin-top: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.charTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.characteristics {
  display: flex;
  flex-direction: column;
}

.charList {
  padding-left: 18px;
  list-style: disc;
  margin-bottom: 48px;
}

.charItem {
  font-size: 16px;
  line-height: 1.5;
}

/* ========== REVIEWS ========== */

.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-bottom: 80px;
}

/* Контейнер для заголовка и кнопки */
.reviewsTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}
.reviewTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

/* кнопка "Залишити відгук" для мобильной версии */
.reviewBtn {
  height: 36px;
  background-color: #c5e1a5;
  border-radius: 100px;
  border: 1px solid #ddeecc;
  cursor: pointer;
  transition: background-color 0.25s ease;
  margin-bottom: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
.reviewBtn:hover,
.reviewBtn:focus {
  background-color: #9db484;
}

.reviewBtn:active {
  background-color: #3b4331;
  transform: scale(0.98);
}

.reviewBtn:disabled {
  background-color: #c5e1a5;
  opacity: 0.4;
}
.reviewsList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  /* height: 181px; */
  align-items: stretch;
}

.reviewItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
}

.rating {
  color: black;
  font-size: 20px;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

.reviewText {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  flex-grow: 1;
}

.reviewAuthor {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.noReviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  border-radius: 16px;
  padding-block: 24px;
  padding-inline: 16px;
  height: 127px;
  background-color: #d6eac0;
}

.noReviewsTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.leaveReviewBtn {
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  background-color: #c5e1a5;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  height: 36px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.leaveReviewBtn:hover {
  background-color: #bcd7a0;
}

.leaveReviewBtn:active {
  background-color: #3b4331;
}

.arrows {
  margin-top: 40;
  display: flex;
  justify-content: center;
  gap: 9px;
}

.arrowBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ddeecc;
  border: 1px solid #ddeecc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.arrowBtn svg {
  fill: #000;
  stroke: #000;
}

.arrowBtn:hover,
.arrowBtn:focus {
  background-color: #bcd7a0;
}

.arrowBtn:active {
  background-color: #3b4331;
}

.arrowBtnDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.arrowBtnDisabled:hover {
  background: #ddeecc !important;
}

/* служебные */
.loading {
  text-align: center;
  color: #555;
  padding: 40px;
}

.error {
  color: red;
  text-align: center;
}

/* ========== TABLET (min-width: 768px) ========== */

@media (min-width: 768px) {
  .good {
    flex-direction: row;
    gap: 32px;
  }

  .imageWrapper {
    width: 336px;
    height: 374px;
  }

  .info {
    gap: 24px;
    width: calc(100% - 368px);
  }

  .sizeSelect,
  .buyNowButton {
    width: 100%;
  }

  .sizeSelect {
    background: var(--opacity-transparent);
  }

  /* REVIEWS для планшета */
  .reviewsTop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .reviewBtn {
    align-self: auto;
    margin-bottom: 0;
  }

  /* ПЛАНШЕТ: 2 отзыва в ряд (только один ряд) */
  .reviewsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }

  .reviewItem {
    width: 100%;
    max-width: 416px;
    min-height: auto;
    height: auto;
  }

  .noReviews {
    width: 100%;
    max-width: 704px;
    height: 127px;
    padding: 40px 0;
    border-radius: 16px;
  }

  .leaveReviewBtn {
    width: 160px;
    margin: 0 auto;
  }

  .leaveReviewBtn:hover {
    background-color: #bcd7a0;
  }

  .leaveReviewBtn:active {
    background-color: #3b4331;
  }

  /* Стрелки в правом нижнем углу на планшете */
  .arrows {
    justify-content: flex-end;
    margin-top: 20px;
  }
}

/* ========== DESKTOP (min-width: 1440px) ========== */

@media (min-width: 1440px) {
  .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .good {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .imageWrapper {
    width: 640px;
    height: 698px;
  }

  .info {
    flex: 1;
  }
  /* .title {
    font-size: 40px;
  }
  .price {
    font-size: 20px;
    margin-top: 4px;
  }

  .descriptionSection {
    color: var(--color-scheme-1-text);
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
    width: 640px;
  }

  .charTitleDes,
  .charTitle {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
  }

  .characteristics {
    margin-top: 24px;
  }

  .charList {
    list-style: disc;
  }

  .longDescriptionSection {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    width: 640px;
    height: 544px;
  }
  .cartRow {
    align-items: center;
    justify-content: space-between;
    width: 640px;
    margin-top: 8px;
    gap: 16px;
  }
  .buyButton {
    width: 100%;
    height: 44px;
  }

  .reviews {
    width: 100%;
    max-width: 1312px;
    margin: 40px auto 0;
    gap: 24px;
  }

  .reviewsTop h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--color-scheme-1-text);
    margin-bottom: 0;
  }

  .reviewBtn {
    width: 150px;
    background: #ddeecc;
    border: 1px solid #ddeecc;
  }

  .reviewBtn:hover {
    background: #bcd7a0;
  }

  .reviewBtn:active {
    background: #3b4331;
  }

  .reviewsList {
    display: grid;
    grid-template-columns: repeat(3, 416px);
    gap: 32px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .reviewItem {
    width: 416px;
    min-height: auto;
    height: auto;
  }

  .noReviews {
    width: 753px;
    max-width: 1200px;
    height: 180px;
    padding: 50px 0;
    border-radius: 16px;
  }

  .leaveReviewBtn {
    background: #ddeecc;
    border: 1px solid #ddeecc;
  }

  .leaveReviewBtn:hover {
    background: #bcd7a0;
  }

  .leaveReviewBtn:active {
    background: #3b4331;
  }

  .arrows {
    justify-content: flex-end;
    margin-top: 20px;
  }  */
  .buyButton {
    width: 100%;
    height: 44px;
  }
  .cartRow {
    align-items: center;
    justify-content: space-between;
    width: 640px;
    margin-top: 8px;
    gap: 16px;
  }
  .noReviews {
    margin-left: 0;
  }
  .reviewsList {
    display: grid;
    grid-template-columns: repeat(3, 416px);
    gap: 32px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .reviewItem {
    width: 416px;
    min-height: auto;
    height: auto;
  }
  .arrows {
    justify-content: flex-end;
    margin-top: 20px;
  }
}
