.container {
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1%;
    font: Nunito Sans;
    margin-bottom: 24px;
}

.description {
    font: Inter;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.links {
    display: inline-block;
    background-color: #C5E1A5;
    border: none;
    text-decoration: none;
    padding: 12px 6px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: black;
    cursor: pointer;
}

.links:hover,
.links:focus {
    background-color: rgb(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.links:active {
    background-color: rgb(0, 0, 0, 0.5);
    color: aliceblue;
    transform: translateY(1px);
    box-shadow: none;
}

.heroImage {
    width: 100%;
    height: auto;
    border-radius: 16px;
}



@media screen and (min-width:375px) {

    .container {
        padding: 64px 0px;
        display: flex;
        flex-direction: column;
        gap: 32px
    }

    .title {
        /* height: 144px; */
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -1%;
        font: Nunito Sans;
        margin-bottom: 24px;
    }

    .description {
        font: Inter;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        margin-bottom: 32px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 16px
    }

    .links {
        display: inline-block;
        background-color: #C5E1A5;
        border: none;
        text-decoration: none;
        padding: 12px 6px;
        border-radius: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 150%;
        color: black;
        cursor: pointer;
    }

    .links:hover,
    .links:focus {
        background-color: rgb(0, 0, 0, 0.15);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .links:active {
        background-color: rgb(0, 0, 0, 0.5);
        color: aliceblue;
        transform: translateY(1px);
        box-shadow: none;
    }

    .heroImage {
        width: 100%;
        height: auto;
        border-radius: 16px;
    }
}

@media screen and (min-width: 768px) {

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .contentGroup {
        flex-basis: 50%;
        max-width: 336px;
        flex-shrink: 0;
    }

    .heroImage {
        flex-basis: 50%;
        max-width: 340px;
    }

    .actions {

        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

@media screen and (min-width: 1440px) {

    .container {
        padding: 112px 0px;
        width: 100%;
        max-width: 1312px;
        margin: 0 auto;
    }

    .contentGroup {
        flex-basis: 50%;
        max-width: 640px;
    }

    .title {
        font-size: 56px;
    }

    .heroImage {
        flex-basis: auto;
        flex-grow: 1;
        height: 394px;
        min-width: 640px;

    }
}