.authOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: #f9fcf6;
}

.authLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.authFormWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.authHeader {
  padding-top: 18px;
  padding-bottom: 18px;
}

.authList {
  display: flex;
  align-self: center;
  margin-bottom: 32px;
}

.authItem {
  border-bottom: 1px solid transparent;
}

.activeLink {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.authLink {
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  color: initial;
  font-family: Inter;
}

.authContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.authFooter {
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .authLink {
    width: 240px;
  }
}
