*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f3f9ed;
  color: #000;
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-nunito-sans), sans-serif;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}