.mobileMenu {
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;

  width: 100%;
  height: 100%;
  background-color: #d6eac0;
  position: fixed;
  align-items: center;
  flex-direction: column;
  z-index: 99999;
  top: 0%;
  right: 0%;
  transform: translateX(100%);
  transition: transform 0.9s ease-in-out;
}
.mobileMenuHeaderLogo {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
  transform-origin: center;
}

.mobileMenuHeaderLogo:hover,
.mobileMenuHeaderLogo:focus {
  transform: scale(1.05);
}
.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobileMenuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.mobileMenuCloseBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0000000d;
}
.mobileMenuCloseBtn:hover,
.mobileMenuCloseBtn:focus {
  background-color: #9db484;
  border: 1px solid #9db484;
}

.mobileMenuCloseBtn:active {
  background-color: #3b4331;
  color: #ffffff;
}

.mobileMenuCloseBtn:disabled {
  background-color: #f9fcf6;
}
.mobileMenuCloseBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: black;
  line-height: 0;
  background-color: transparent;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.mobileMenuLink {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000;
  display: inline-block;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  transform-origin: center;
}
.mobileMenuLink:hover,
.mobileMenuLink:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
  transform: scale(1.05);
}

.mobileMenuLink:active {
  color: #9db484;
}

.mobileMenuLink:disabled {
  color: #000000;
}
.mobileMenuNavigationBtn {
  display: flex;
  gap: 16px;
}

.mobileMenuBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: #000000;
}

.mobileMenuBasket:hover,
.mobileMenuBasket:focus {
  background-color: #9db484;
  border: 1px solid #9db484;
}

.mobileMenuBasket:active {
  background-color: #3b4331;
  color: #ffffff;
}

.mobileMenuBasket:disabled {
  background-color: #f9fcf6;
}
.mobileMenuListContainer {
  margin-bottom: 64px;
}

.mobileMenuBasketIcon {
  fill: white;
}
