.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  padding: 64px 0 48px;
}

.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -1%;
  text-align: center;
}

.subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -1%;
  text-align: center;
  margin-bottom: 16px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  width: 100%;
}

.ordersSection {
  order: 0;
}

.infoSection {
  order: -1;
}

.ordersList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noOrdersPlaceholder {
  background-color: #c5e1a5;
  padding: 24px 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.noOrdersInfo {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.orderButton {
  margin: 0 auto;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: #a3c982;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutButton {
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px;
  background: #e8eae6;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
}

/* ========== DESKTOP (min-width: 1440px) ========== */

@media (min-width: 1440px) {
  .profile {
    padding: 112px 0 80px;
  }

  .dashboard {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 16px;
  }

  .ordersSection {
    order: 0;
  }

  .infoSection {
    order: 0;
  }
}
