.orderContainer {
  min-width: 280px;
  width: 100%;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-right: 8px;
}

.orderList::-webkit-scrollbar {
  width: 14px;
  height: 64px;
}

.orderList::-webkit-scrollbar-track {
  border: 5px solid;
  border-radius: 8px;
  background-clip: content-box;
}

.orderList::-webkit-scrollbar-thumb {
  background: #00000040;
  border-radius: 8px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderQuantity,
.orderPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
}

.orderRaiting {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.orderItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.orderImg {
  border-radius: 16px;
  width: 82px;
  height: 101px;
}

.orderGoodName {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.orderGoodInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.orderStars {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.orderReviews {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.orderGoodWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 150px;
}

.orderRaiting {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.orderGoodRigth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.orderGoodRigthActions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.orderQuantity {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  text-align: start;
  width: 64px;
  height: 40px;
  background: transparent;
  color: #000000;
}

.orderDeleteBtn {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: #0000000d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderDeleteBtn:hover,
.orderDeleteBtn:focus {
  background-color: #9db484;
}

.orderDeleteBtn:active {
  background-color: #3b4331;
  color: #ffffff;
}

.orderDeleteBtn:disabled {
  background-color: #f9fcf6;
}

.orderTotalPriceWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.orderProvisionalPrice,
.orderDeliveryPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.orderProvisionalPrice,
.orderProvisionalPriceValue {
  margin-top: 13.5px;
  margin-bottom: 5.5px;
}

.orderDeliveryPrice,
.orderDeliveryProvisionalPriceValue {
  margin: 4px 0;
}
.orderTotalPrice,
.orderTotalPriceValue {
  margin: 12px 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 150%;
}

.orderTotalPriceValue,
.orderDeliveryPriceValue,
.orderProvisionalPriceValue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPriceItem {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .orderGoodInfo {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .orderInfoWrapper {
    flex: 0 0 auto; 
  }

  .orderGoodRigth,
  .orderGoodRigthActions {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .orderTotalPriceWrapper {
    min-height: 503px;
  }

  .orderList {
    max-height: 452px;
  }
}
