@media screen and (max-width: 376px) {
    .btn {
        width: 100%;
    }
}

.box {
    max-width: 100%;
    height: 200px;
    border-radius: 16px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6eac0;
    gap: 16px;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c5e1a5;
    border-radius: 100px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: #c5e1a5;
}