.styleSection{
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
@media screen and (max-width:374px){
    .styleSection{
    max-width:100%;
    padding: 0 20px;
    }
.content{
    padding: 32px 0px;
    width: 334px;
  }
   .title{
                
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -1%;
      font: Nunito Sans;
      margin-bottom: 40px;
   }
  .advantagesList{
   display: flex;
   flex-direction: column;
   gap: 32px;
           }
   .cardIcon{
    height: 56px;
    width: 56px;
    margin-bottom: 12px;
   }
   .cardTitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1%;
    margin-bottom: 12px;
   }
   .cardDesc{
     font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
   }
 
}
@media screen and (min-width:375px){
    .styleSection{
    max-width:100%;
    padding: 0 20px;
    }
.content{
    padding: 32px 0px;
    width: 335px;
  }
   .title{
                
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -1%;
      font: Nunito Sans;
      margin-bottom: 40px;
   }
  .advantagesList{
   display: flex;
   flex-direction: column;
   gap: 32px;
           }
   .cardIcon{
    height: 56px;
    width: 56px;
    margin-bottom: 12px;
   }
   .cardTitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1%;
    margin-bottom: 12px;
   }
   .cardDesc{
     font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
   }
 
}

@media screen and (min-width: 768px) {
 .styleSection{
    max-width: 768px;
    padding: 0 32px;
    }
    .content{
    padding: 48px 0px;
    width: 704px;
    }
   .advantagesList{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 32px;
    justify-content: space-between;
 }

   }


@media screen and (min-width: 1440px) {
 .styleSection{
    max-width: 1440px;
    padding: 0 64px;
    }
 .content{
       width: 100%;
    }
.title{
    width: 768px;
    font-size: 48px;
}

}