@media screen and (max-width:375px) {
    .pageContainer {
        padding: 64px 0;
    }

    .pageTitle {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: #000;
    }

    .goodsBox {
        display: flex;
        flex-direction: column;
    }

    .goodImg {
        border-radius: 16px;
        margin-bottom: 16px;
        width: 335px;
        height: 415px;
    }

    .goodsList {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 32px;
    }

    .goodPriceBox {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 335px;
    }

    .goodPriceBox>div>p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
    }

    .goodPrice {
        font-weight: 400;
        font-size: 14px;
        margin-top: 16px;
    }


    .goodRate>div>p {
        font-family: "Inter", sans-serif;
        font-size: 12px;
    }

    .goodRate {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }

    .goodRate>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }

    .goodsList>li>button {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.05);
        margin-top: 16px;
    }

    .goodImg {
        width: 100%;
    }

    .showMoreBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c5e1a5;
        border-radius: 100px;
        max-width: 158px;
        height: 36px;
        padding: 6px 12px;
        background-color: #c5e1a5;
        margin: 32px auto 0;
    }
}

@media screen and (min-width:375px) {
    .pageContainer {
        padding: 64px 0;
    }

    .pageTitle {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: #000;
    }

    .goodsBox {
        display: flex;
        flex-direction: column;
    }

    .goodImg {
        border-radius: 16px;
        margin-bottom: 16px;
        width: 335px;
        height: 415px;
    }

    .goodsList {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 32px;
    }

    .goodPriceBox {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 335px;
    }

    .goodPriceBox>div>p {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
    }

    .goodPrice {
        font-weight: 400;
        font-size: 14px;
        margin-top: 16px;
    }


    .goodRate>div>p {
        font-family: "Inter", sans-serif;
        font-size: 12px;
    }

    .goodRate {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }

    .goodRate>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }

    .goodsList>li>button {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0.05);
        margin-top: 16px;
    }

    .goodsList>li>button:hover,
    .goodsList>li>button:focus {
        background-color: rgba(0, 0, 0, 0.15);
    }

    .goodsList>li>button>a {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showMoreBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c5e1a5;
        border-radius: 100px;
        padding: 6px 12px;
        max-width: 158px;
        height: 36px;
        background-color: #c5e1a5;
        margin: 32px auto 0;
    }

    .showMoreBtn:hover,
    .showMoreBtn:hover {
        background-color: #9db484;
    }
}


@media screen and (min-width:768px) {
    .pageContainer {
        padding: 64px 0;
    }

    .pageTitle {
        margin-bottom: 40px;
    }

    .goodImg {
        width: 198px;
        height: 244px;
    }

    .goodsBox {
        flex-direction: row;
    }

    .goodsList {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 32px;
        margin-top: 0;
    }

    .goodPriceBox {
        max-width: 198px;
        height: 96px;
    }

}

@media screen and (min-width:1440px) {
    .pageContainer {
        padding: 112px 0;
    }

    .pageTitle {
        margin-bottom: 40px;
        font-size: 48px;
    }

    .goodsBox {
        display: flex;
    }

    .goodsList {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-left: 32px;
    }

    .goodImg {
        width: 304px;
        height: 375px;
    }

    .goodPriceBox {
        flex-direction: row;
        max-width: 304px;
        height: 80px;
    }

    .goodPriceBox>div {
        max-width: 200px;
    }

    .goodPriceBox>p,
    .goodPriceBox>div>p {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
    }

    .goodPrice {
        font-size: 20px;
    }

    .goodRate {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }

    .goodRate>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
    }

    .goodRate>div>p {
        font-family: "Inter", sans-serif;
        font-size: 12px;
    }

}